<div class="home">
  <div class="header_section">
    <div class="container">
      <div class="jumbotron bg-primary">
        <h1> Find YCombinator Startups Jobs </h1>
        <p class="lead text-muted"> Search and filter job openings by YCombinator startups </p>
      </div>


    </div>
  </div>

  <div class="container">
    <div class="row sticky_parent">
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <div class="jobs_container">
          <%= render 'jobs', jobs: @jobs, jobs_count: @jobs_count %>
        </div>
      </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <div class="stick_in_parent search_sticky">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="search_controls">
                <div class="form-group search_box">
                  <label class="text-muted">Filter Job Openings</label>
                  <input type="text" class="input-sm form-control insta_search" placeholder="Filter by title, location, company or team...">
                </div>

                <div class="tags">
                  <label class="text-muted">Tech & Stack</label>
                  <%= render 'tags', tags: JobOpening::TECH %>
                  <label class="text-muted">Responsibilities</label>
                  <%= render 'tags', tags: JobOpening::RESPONSIBILITIES %>
                  <label class="text-muted">Fields</label>
                  <%= render 'tags', tags: JobOpening::FIELDS %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>