/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.header_section {
    /* border-bottom: 1px solid #c7c7c7;
    margin-bottom: 15px; */
}

.jobs {
    .description {
        height: 60px;
    }
}

.single_line {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .25s;
}
.btn-primary.btn-outline {
    color: #428bca;
}
.btn-success.btn-outline {
    color: #5cb85c;
}
.btn-info.btn-outline {
    color: #5bc0de;
}
.btn-warning.btn-outline {
    color: #f0ad4e;
}
.btn-danger.btn-outline {
    color: #d9534f;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline.active,
.btn-success.btn-outline:hover, .btn-success.btn-outline.active,
.btn-info.btn-outline:hover,    .btn-info.btn-outline.active,
.btn-warning.btn-outline:hover, .btn-warning.btn-outline.active,
.btn-danger.btn-outline:hover, .btn-danger.btn-outline.active {
    color: #fff;
}

.tech_btn {
    margin-right: 15px;
    margin-bottom: 10px;
}

.sticky {
    position: sticky;
}

.search_sticky {
    margin-top: 56px;
}